// Place all the styles related to the api/books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.book-content {
  display: flex;
  font-family: "Merriweather", "Georgia", serif;
  padding: 10px;
}

.book-sidebar {
  display: flex;
  flex-direction: column;
}

.back-to-book-index {
  padding-top: 10px;
  width: 100%;
  color: #171717;
  text-decoration: none;
}

.back-to-book-index:hover {
  color: #3f3e3e;
}

.book-info {
  padding: 0 20px;
  max-width: 400px;
}

.book-content h2 {
  font-size: 24px;
  line-height: 1.25;
  margin-block-start: 0;
  font-family: "Merriweather", "Georgia", serif;
}

.book-cover {
  max-width: 150px;
}

.book-author {
  margin-bottom: 8px;
}

.book-index {
  display: flex;
  justify-content: center;
  list-style: none;
  padding-top: 20px;
  flex-wrap: wrap;
}

.book-index-item{
  padding: 0 20px 20px 0
}

.book-index-cover {
  width: 250px;
  height: 375px;
}

.shelved-dropdown {
  position: relative;
  display: inline-block;
}

.shelved-dropdown-signedout {
  font-size: 12px;
}

.shelved-dropdown span {
  padding: 6px 6px 7px 8px;
  float: left;
}

.shelved-dropdown-button {
  padding: 5px;
  width: 27px;
  height: 28px;
  box-sizing: border-box;
  background-color: #409D69;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 8px 4px;
  border: 0;
  margin: 0;
  cursor: pointer;
  display: block;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAICAQAAABaf7ccAAAAKUlEQVR4AX3KsQEAIAzDsJzez8MuoF6tdLo1icQdiBvilrglnw1xS9wHeq2Hge3);
}

.shelved-dropdown-button:hover {
  background-color: #1b8b4c;
}


.shelved-shown {
  position: absolute;
  top: 100%;
}

.shelved-shown ul {
  margin-top: 2px;
  padding-bottom: 2px;
  background: #ffffff;
  border-color: #cccccc;
  border-radius: 3px;
  border-style: solid;
  border-width: 1px;
  box-shadow: 0 3px 4px -3px rgba(0,0,0,0.5);
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  width: 132px;
  z-index: 2;
  max-height: 250px;
}
