// Place all the styles related to the api/books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.book-content {
  display: flex;
  font-family: "Merriweather", "Georgia", serif;
  padding: 10px;
}

.book-sidebar {
  display: flex;
  flex-direction: column;
}

.back-to-book-index {
  padding-top: 10px;
  width: 100%;
  color: #171717;
  text-decoration: none;
}

.back-to-book-index:hover {
  color: #3f3e3e;
}

.book-info {
  padding: 0 20px;
  max-width: 400px;
}

.book-content h2 {
  font-size: 24px;
  line-height: 1.25;
  margin-block-start: 0;
  font-family: "Merriweather", "Georgia", serif;
}

.book-cover {
  max-width: 150px;
}

.book-author {
  margin-bottom: 8px;
}

.book-index {
  display: flex;
  justify-content: center;
  list-style: none;
  padding-top: 20px;
  flex-wrap: wrap;
}

.book-index-item{
  padding: 0 20px 20px 0
}

.book-index-cover {
  width: 250px;
  height: 375px;
}

