
.siteheader {
  padding: 0;
  position: static;
  border: 0;
  background-position: center;
  background-repeat: repeat-x;
  // background-color: #f4f2e9;
  background-size: cover;
  background-image: image_url("back-pic.jpg");
}

.signedout-masthead-container {
  margin: 0 auto;
  min-width: 970px;
  box-sizing: border-box;
}

.signedout-nav {
  height: 92px;
}

.masthead {
  height: 325px;
  // background-color: rgb(243,243,235);
  padding: 0 20px;
}

.selling-points {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  cursor: default;
  color: #484744;
}

.selling-points h2 {
  margin: 10px 0 0 0;
  font-size: 24px
}

.selling-points ul {
  margin-top: 10px;
}

.selling-points-list {
  list-style: none;
}

.selling-points-list li {
  padding: 2px 0;
}

.signedin-masthead-container {
  background-color: rgb(231,227,209);
  font-size: 16px;
  padding: 0 0 0 20px;
}

.signin-nav-link {
  width: auto;
  height: auto;
  padding: 16px;
  cursor: pointer;
  color: #37200f;
  text-decoration: none;
}

.signin-nav-link:hover {
  background-color: #37200f;
  color: #FFFFFF;
}

.left-nav {
  display: flex;
}

.signedin-masthead-container h4 {
  padding: 16px 15px 16px 0;
  cursor: pointer;
}

.nav-buttons {
  list-style: none;
  display: flex;
}

.nav-link {
  padding:  15px;
  color: rgb(55,32,15);
  text-decoration: none;
  cursor: pointer;
}

.nav-buttons li  a {
    line-height: 50px;
}

.nav-link:hover {
  background-color: rgb(55,32,15);
  color: #FFFFFF;
}

.signout-button {
  border: transparent;
  background-color: transparent;
  padding:  15px;
  color: rgb(55,32,15);
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
}

.signout-button:focus {
  box-shadow: 0 0 4px rgba(185,173,153,0.5);
  border-color: #B9AD99;
  outline: 0px;
}

.signout-button:hover {
  background-color: rgb(55,32,15);
  color: #FFFFFF;
}

.logo-link {
  width: auto;
  height: auto;
  padding: 0;
}

.logo {
  height: 90px;
}

.nav-logo {
  height: 50px;

}

.nav-logo-link {
  width: auto;
  padding: 0;
}
