// Place all the styles related to the api/sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.new-account-box {
  float: right;
  width: 280px;
  margin: 25px, 20px, 0 0;
  font-family: Arial, Helvetica, sans-serif;
}

.signup-form {
  display: flex;
  flex-direction: column;
  width: 280px;
}

.signup-input {
  width: 270px;
  padding: 7px 5px;
  font-size: 16px;
  font-weight: lighter;
  margin: 3px;
}

.signup-button {
  padding: 8px;
  margin: 3px;
  border: 0px;
  border-radius: 4px;
  background-color: #fdd05f;
  font-size: 18px;
  line-height: 22px;
  width: 85px;
}
