// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h2 {
  font-size: 18px;
}

input {
  background: #ffffff;
  border-radius: 3px;
  border: #dcd6cc 1px solid;
  color: #333333;
}