// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h2 {
  font-size: 16px;
  font-weight: lighter;
  // margin: 0;
}

input {
  background: #ffffff;
  border-radius: 3px;
  border: #dcd6cc 1px solid;
  color: #333333;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  // background-color: rgb(243,243,235);
  // border-bottom: 1px solid rgb(231,230,225);
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(243,243,235);
  border-top: 1px solid rgb(231,230,225);
}

.footer-author-line {
  margin: 0;
}
a {
  padding-right: 5px;
}